# envirmonemt variables
.env

# data
data/api_cooldowns.json
data/conversation.json
data/gmail_credentials.json
data/gmail_token.json
data/rules.json
data/email_cache.json

# venv
venv/

# __pycache__
__pycache__/
*.pyc

# .vscode
.vscode/

# issues
issues.txt

# PyInstaller build artifacts
build/
dist/
*.spec

mcp_server.log